* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #2b2b2b;
}
#none {
    color: white;

}
.none1 {
    color: white;
    font-size: 2rem;
    padding-left: 1500px;
}
#block {
    background: #2b2b2b;
    height: 70px;
    width: 102%;
    border: 3.5px solid silver;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    backdrop-filter: blur(5px);
    opacity: 0.8;
    position: static;   
}
#text_prav {
    color: white;
    font-size: 4rem;
    padding-left: 10px;
    padding-top: 4px;
}
#block2 {
    color: #2b2b2b;
    height: 600px;
    width: 400px;
}
#text_prav1 {
    color: white;
    font-size: 3rem;
    padding-left: 10px;
    padding-top: 4px;
    border: 3.5px solid silver;
}
.text_prav3 {
    color: white;
    font-size: 2rem;
    padding-left: 10px;
    padding-top: 10px;
    border: 3.5px solid silver;
}
#block3 {
    color: #2b2b2b;
    height: 600px;
    width: 400px;
    padding-left: 400px;
    margin-top: -600px;
}
